
<%- include('layouts/header', {email,title}) -%>
<div class="container">
  <h1 class="text-center">clients </h1>
  <button id="addClient" type="button" class="btn btn-primary m-3"><span class="far fa-plus-square"></span> add client</button>

  <ul class="list-group">
    <% clients.forEach(function(client){%>
      <li class="list-group-item d-flex justify-content-between align-items-center" id="<%= client._id%>"><span><%= client.title%></span> <span> <span class="fas fa-edit m-2"></span> <span class="fas fa-trash-alt m-2"></span></span></li>
    <% })%>
  </ul>
</div>
<%include layouts/footer %>

<script>

$('#addClient').click(()=>{
  window.location.href = '/newclient'
})

</script>